DISCORD_BOT_TOKEN=

SQLITE_PATH=

# agent access directory
ALLOWED_PATHS=
# comma separated linux commands
ALLOWED_COMMANDS=

SEARXNG_BASE_URL=

# ollama, gemini, openai, anthropic
MODEL_PROVIDER=
MODEL_VERSION=

OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
OLLAMA_URL=